
@mixin head-lora-38{
font-family: 'Lora',sans-serif;
font-size: 38px;
font-weight: 400;
color: #709FDC;
margin-bottom: 20px;
}
@mixin head-lora-36{
    font-family: "Lora";
    font-size: 36px;
    font-weight: 400;
    color: #709FDC;
    margin-bottom: 40px;
    }