<div class="signup">
    <div class="container">
        <div class="auth-body">
            <div class="auth-title">Регистрация на сайте</div>
            <div class="auth-form" [formGroup]="signupForm">
                <input type="text" placeholder="Ваше имя"
                [ngStyle]="{'border-color':signupForm.get('name')?.invalid
                &&(signupForm.get('name')?.dirty || signupForm.get('name')?.touched)? 'red':''}"
                    formControlName="name"
                >
                <input type="text" placeholder="Электронная почта"
                [ngStyle]="{'border-color':signupForm.get('email')?.invalid
            &&(signupForm.get('email')?.dirty || signupForm.get('email')?.touched)? 'red':''}"
                formControlName="email"
                >
                <input type="password" placeholder="Пароль"
                [ngStyle]="{'border-color':signupForm.get('password')?.invalid
                &&(signupForm.get('password')?.dirty || signupForm.get('password')?.touched)? 'red':''}"    
               formControlName="password"
                >
                <div class="auth-chetbox">
                    <input type="checkbox" id="remember"
                    >
                    <label for="remember">Я принимаю <a>условия пользовательского соглашения</a>  и даю <a>согласие на обработку персональных данных.</a></label>
                </div>
                <div class="auth-button">
                    <button class="button button-auth" (click)="signup()">Войти</button>
                </div>
                <div class="auth-link">
                    Уже есть аккаунт? <a routerLink="/login">Войдите</a>
                </div>
            </div>
        </div>
        <div class="auth-img">
            <img src="/assets/img/signup.png" alt="">
        </div>
    </div>
</div>
